@layer theme, base, compo-theme, utilities, app;

@import "primereact/resources/themes/lara-dark-blue/theme.css" layer(compo-theme);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --spacing: 4px;
  --color-primary: var(--primary-color);
}

@layer app {
  body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(180deg, #2e323f, #0a061a);
  }

  html {
    font-size: 15px;
  }
}