@layer theme, base, compo-theme, utilities, app;

@import "primereact/resources/themes/lara-dark-blue/theme.css" layer(compo-theme);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --spacing: 4px;
}

@layer app {
  body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(180deg, #2e323f, #0a061a);
  }

  .login-form {
    @apply w-full min-h-screen flex flex-col items-center justify-center md:items-start bg-[url(/src/assets/bg-escamas.png)] bg-no-repeat bg-auto md:bg-contain px-[20%] py-[10%];
  }
}